@import './reset';
@import './fonts';

:root {
	--background: rgba(255, 255, 255, 1);
	--foreground: rgba(51, 51, 51, 1);
	--brand: rgba(227, 31, 36, 1);

	--title-color: rgba(118, 120, 125, 1);
	--skeleton-color: #ededed;

	--header-height: 115px;
	--header-background-color: rgba(255, 255, 255, 0.6);

	--content-padding-bottom: 44px;

	--card-active-color: rgba(224, 224, 224, 1);
}

body {
	@extend .montserrat-normal;
	background-color: var(--background);
	color: var(--foreground);
	overflow-x: hidden;
}

.container {
	padding: 0 56px;
	margin: 0 auto;
	max-width: 1440px;
}

.main-title {
	font-size: 14px;
	line-height: 18px;
	color: var(--title-color);
}
